
body {
  background-color: black;
  margin: 0;
}

p {
  color: white;
}

h1 {
  color: lightgray;
  font-family: sans-serif;
}

img{
  width:300px;
  height:200px;
  /* border:10px solid green; */
  color:white;
  border-radius:20px;
}

figcaption{
  width: 315px;
  text-align: left;
  margin-left: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 12%;
  height: 100%;
  position: fixed;
  background-color: lightslategray;
  overflow: auto;
  /*border:  1px solid #555;*/
}

li a {
display: block;
color: black;
padding: 8px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

li a.active {
  background-color: black;
  color: white;
}


li {
  text-align: center;
  font-family: sans-serif;
}


div {
  margin-left: 12%;
  padding: 1px 16px;
  height: 1000px;
  text-align: center;
}

