body {
  background-color: whitesmoke;
}

h1 {
  color: white;
  font-family: sans-serif;
  font-size: 4vh;
}

h2 {
  color: white;
  font-family: sans-serif;
  font-size: 3vh;
}

h3 {
  color: white;
  font-family: sans-serif;
  font-size: 2vh;
}

p {
  color: white;
  font-family: sans-serif;
  font-size: 2vh;
}

img {
  z-index: 1;
}

hr {
  color: dimgray;
}


.title {
  position: relative;
  width: 120vh;
  height: 11vh;
  box-sizing: border-box;
  border-color: black;
  border-width: .5vh;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  text-shadow: .4vh .4vh 0 black;
}

.lgap {
  height: 8vh;
}

.sgap {
  height: 1vh;
}

.topbanner {
  position: relative;
  width: 120vh;
  height: 50vh;
  background: white;
  box-sizing: border-box;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  border-width: 1vh;
  text-align: center;
  overflow: hidden;
}

.topbox {
  background: white;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 10px;
  border-width: 15px;
  float: left;
  height: 50vh;
}
