body {
  background-color: whitesmoke;
}

h1 {
  color: white;
  font-family: sans-serif;
  font-size: 4vh;
}

h2 {
  color: white;
  font-family: sans-serif;
  font-size: 3vh;
}

h3 {
  color: white;
  font-family: sans-serif;
  font-size: 2vh;
}

p {
  color: white;
  font-family: sans-serif;
  font-size: 2vh;
}
