body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

p {
  color: black;
  font-family: sans-serif;
  text-align: left;
  margin-left: 13%;
}

h1 {
  color: black;
  font-family: sans-serif;
  text-align: left;
  margin-left: 13%;
  font-style: oblique;
}

h3 {
  color: white;
}

img {
  height: 100px;
  margin-left: 12%;
  margin-top: 4%;
}

figcaption {
  width: 315px;
  text-align: left;
  margin-left: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 100%;
  position: fixed;
  background-color: lightsteelblue;
  overflow: auto;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #555;
}

li a.active {
  background-color: steelblue;
}

li {
  text-align: center;
  font-family: sans-serif;
}

div {
  margin-left: 0;
  padding: 1px 16px;
  height: 300px;
  text-align: left;
}

.container {
  position: relative;
  width: 1200px;
  height: 375px;
  margin-left: 12%;
  background: black;
}

.container .box {
  position: relative;
  width: calc(400px - 30px);
  height: calc(400px - 30px);
  background: steelblue;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  border-width: 10px;
  border-style: groove;
  border-color: wheat;
}

.container .box .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: lightsteelblue;
  transition: 0.5s;
  z-index: 1;
}

.container .box .alttext {
  opacity: 1;
}

.container .box:hover .alttext {
  opacity: 0;
}

.container .box:hover .icon {
  top: 50px;
  left: calc(50% - 40px);
  width: 45px;
  height: 70px;
  border-radius: 50%;
}

.container .box .icon .fa {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.5s;
  color: black;
}

.container .box:hover .icon .fa {
  font-size: 40px;
}

.container .box .content {
  position: absolute;
  top: 100px;
  left: 0;
  right: 4px;
  height: calc(100% - 100px);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
