body {
  background-color: black;
  margin: 0;
  padding: 0;
}

h1 {
  color: darkblue;
  font-family: sans-serif;
  font-size: 3vh;
}

p {
  color: darkblue;
  font-family: sans-serif;
  font-size: 2vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: lightslategray;
  overflow: hidden;
}

li {
  float: left;
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: darkgrey;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: wheat;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: lightskyblue;
}

.dropdown:hover .dropdown-content {
  display: block;
}
